.DS_Store
.git
.github
.next
.turbo
docs
coverage
dist
node_modules
packages/database/generated
README.md
*.log
*.tsbuildinfo

**/.DS_Store
**/.env
**/.env.*
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
